#coul{
    margin:10px;
    border: 50px solid #f9b100;
    padding: 20px;
}
#box1{
    background-color: black;
    padding:40px;
    color:palevioletred;
    font-size: 30px;
    text-align: center;
    margin: 80px;
    opacity: 0.9;
    
}
#box2{
    background-color: black;
    padding:40px;
    color: palevioletred;
    font-size: 30px;
    margin:80px;
    text-align: center;
    opacity:0.9;
}